/* =Title
-----------------------------------------------------------------------------*/
.complaint{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $temp-gray;
}

.complaint article{
    margin-bottom: 2rem;
}
