/*-----------------------------------------------------------------------------
Passou do Ponto - Stylesheet
Autor: Werther Azevedo
-----------------------------------------------------------------------------*/

/* =Vars
-----------------------------------------------------------------------------*/
$main-color: #fab500;

/* =Common
-----------------------------------------------------------------------------*/
body{
    font-family: Raleway, sans-serif;
}

h2{
    font-size: 2.5rem;
}


@import 'components';
@import 'home';

