/*-----------------------------------------------------------------------------
Passou do Ponto - Stylesheet
Autor: Werther Azevedo
-----------------------------------------------------------------------------*/

/* =Vars
-----------------------------------------------------------------------------*/
$main-color: #fab500;
$temp-gray: #aaa;

/* =Common
-----------------------------------------------------------------------------*/
body{
    font-family: Raleway, sans-serif;
}

h2{
    font-size: 2.5rem;
}

ul{
    list-style: none;
    padding: 0;
}


@import 'components';
@import 'home';
@import 'feed';

