
        <footer>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#">Termos de Serviço</a></li>
                <li role="presentation"><a href="#">Sobre o site</a></li>
                <li role="presentation"><a href="#">Fale Conosco</a></li>
                <li role="presentation"><a href="#">Faça seu cadastro</a></li>
            </ul>
        </footer>