<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Passou do Ponto</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#">
                        <img src="img/logo_temp.png" alt="Passou do Ponto" />
                    </a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li><a href="#">Feed</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Ajuda</a></li>
                        <li><a href="#">Stats</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row home_highlight">
            <section class="devices">
                <div class="col-sm-3">
                    <img src="img/devices.png" alt="Passou do Ponto rodando em seus dispositivos!" class="img-responsive">
                </div>

                <div class="col-sm-6">
                    <h3>Por um transporte público de qualidade</h3>
                    <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
                </div>

                <div class="col-sm-3">
                    <div class="home_feed">
                        <div class="feed_container">
                            <h4>Colocar feed aqui  </h4>
                            <ul class="list-group">
                                <li class="list-group-item">Reclamação</li>
                                <li class="list-group-item">Reclamação</li>
                                <li class="list-group-item">Reclamação</li>
                                <li class="list-group-item">Reclamação</li>
                                <li class="list-group-item">Reclamação</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="row map">
            <div class="col-sm-12">
                <h2>Passaram do Ponto</h2>
                <%- partial("_map") %>
            </div>
        </div>

        <div class="row stats">
            <h2>Estatísticas</h2>
            <div class="col-sm-4">
                <img src="img/stats1.jpg" class="img-responsive">
            </div>
            <div class="col-sm-4">
                <img src="img/stats2.jpg" class="img-responsive">
            </div>
            <div class="col-sm-4">
                <img src="img/stats3.jpg" class="img-responsive">
            </div>
        </div>

        <footer>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#">Termos de Serviço</a></li>
                <li role="presentation"><a href="#">Sobre o site</a></li>
                <li role="presentation"><a href="#">Fale Conosco</a></li>
                <li role="presentation"><a href="#">Faça seu cadastro</a></li>
            </ul>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js">
</script>
</body>
</html>
